body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900; 
    font-size: 3rem; 
    font-size: clamp(1rem, 4vw, 3rem); 
}

body {
    background-color: rgb(21, 20, 63);
}


.page {
    max-width: 1200px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    padding-top: 35px;
    box-sizing: border-box;
}

.vis-container {
    width: 100%;
    min-height: 420px; 
    box-sizing: border-box;
    overflow: hidden;

}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 30px;
}

.small-font {
    font-size: 14px;
}

.metric-explain { margin: 0; padding-left: 1rem; line-height: 1.4; font-size: 0.9rem;}
.metric-explain li { margin-bottom: .35rem; }
.metric-note { margin-top: .6rem; color: #555; }

.section { margin: 32px 0; } 